html {
  background-image: url(images/html.png);
  background-color: White;
  max-width: 60em;
  margin: auto;
}

body {
  background-image: none;
  background-color: LightGray;
  color: Black;
  border: 5px solid Black;
  border-radius: 1em;
  padding: 0.50em;
}

img {
  float: left;
  border: 5px dashed Black;
}

hr {
  clear: both;
}

/*
a:link {
  color: CornFlowerBlue;
  text-decoration: none;
}

a:visited {
  color:Plum;
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
}
*/
