.joystick-key {
  border: 1px solid #aaa;
  border-radius: 1.5em;
  box-shadow: 0.1em 0.1em 0.2em rgba(0,0,0,0.1);
  background-color: #000;
  background-image: linear-gradient(to bottom,#333,#000,#333);
  color: #f9f9f9;
  padding: 0.1em 0.3em;
  font-family: inherit;
  font-size: 0.85em;
  height: 1.5em;
  text-align: center;
  width: 1.25em;
}

.joystick-key.wide {
  height: 1.5em;
  width: 2em;
}

.joystick-key.big {
  border-radius: 2.0em;
  height: 2.0em;
  width: 2.0em;
}

.joystick-key.blue {
  color: RoyalBlue;
}

.joystick-key.red {
  color: LightCoral;
}

.joystick-key.green {
  color: LimeGreen;
}

.joystick-key.yellow {
  color: Goldenrod;
}

.keyboard-key {
  border: 1px solid #aaa;
  border-radius: 0.2em;
  box-shadow: 0.1em 0.1em 0.2em rgba(0,0,0,0.1);
  background-color: #f9f9f9;
  background-image: linear-gradient(to bottom,#ccc,#f9f9f9,#ccc);
  color: #000;
  padding: 0.1em 0.3em;
  font-family: inherit;
  font-size: 0.85em;
}

table.keyboard {
  border:1px solid;
}

table.keyboard td {
  border:1px solid;
  width: 1.5em;
}

table.keyboard td:hover {
  background-color: White;
  color: Black;
}
