<h1>Controller Theory</h1>

<p>Linux gamepad specification standardizes action buttons as a collection of two to four buttons, usually in a diamond pattern on the right side of the controller. Under the hood, the buttons may be arranged in any digital order, but from the outside it is useful use the standard to refer to the action buttons in a consistent way. Depending on whether it is based on the Playstation, Nintendo, Xbox, or Retropad the beginning, order, and naming of the buttons will appear to be different. Linux specification provides a standard way to refer to them based on position.</p>

<p>Buttons in a diamond pattern are referred to as North, South, West, and East. The first button is always North and the order proceeds to West, South, and East.</p>

<table>
    <tr>
        <td colspan="2" style="padding:1em;text-align:center;">North<td>
    </tr>
    <tr>
        <td colspan="1" style="padding:1em;text-align:center;">West</td>
        <td colspan="1" style="padding:1em;text-align:center;">East</td>
    </tr>
    <tr>
        <td colspan="2" style="padding:1em;text-align:center;">South</td>
    </tr>
</table>

<h2>Canonical Game Controls </h2>

<ul>
<li><p>Doom (Vanilla)</p>

<ol>
<li>Firing</li>
<li>Open</li>
<li>
<ol>
4. 
</ol></li>
</ol></li>
<li><p>Chocolate Doom</p>

<ol>
<li>Fire/Attack</li>
<li>Strafe</li>
<li>Speed</li>
<li>Use</li>
</ol></li>
<li><p>Descent (Playstation)</p>

<ol>
<li>Forward</li>
<li>Strafe Left</li>
<li>Backward</li>
<li>Strafe Right</li>
</ol></li>
<li><p>Colony Wars</p>

<ol>
<li>
<ol>
2. 
</ol></li>
<li>
<ol>
4. 
</ol></li>
</ol></li>
</ul>
