<style>
html {
    background-color: Black;
    margin: 1em;
}

body {
    background-color: SaddleBrown;
    border: outset 5px SaddleBrown;
    margin: auto;
    max-width: 40em;
    padding: 0.5em;
}

h1 {
    border: solid 2px Black;
    border-radius: 1em;
    margin: 0 1em 0 1em;
    padding-left: 0.5em;
}

img {
    border: inset 2px SaddleBrown;
    width: 100%;
}

section {
    background-color: BurlyWood;
    border: outset 2px BurlyWood;
    margin: 1em;
    padding: 1em;
}

a:link {
  color: CornflowerBlue;
}

a:visited {
  color: Plum;
}

tr {height:2.5em;}

.badge{border-radius:1em;padding:1px 4px 1px 4px;}

.indigo {background-color:RoyalBlue;}  /*metal*/
.white {background-color:Ivory;}  /*metal*/
.crimson {background-color:IndianRed;}  /*red*/
.green {background-color:OliveDrab;}  /*wood*/
.scarlet {background-color:Scarlet;}  /*wood*/
.black {background-color:DarkOrchid;}  /*water*/
.purple {background-color:Purple;}  /*earth*/
.yellow {background-color:Gold;}  /*earth*/
.mwht{background-color:#fffbd5;color:#211d15;}
.bwht{background-color:#e59d17;color:#fffbd5;}
.mblu{background-color:#aae0fa;color:#061922;}
.bblu{background-color:#294691;color:#aae0fa;}
.mblk{background-color:#cbc2bf;color:#130c0e;}
.bblk{background-color:#450563;color:#cbc2bf;}
.mred{background-color:#f9aa8f;color:#200000;}
.bred{background-color:#7d001d;color:#f9aa8f;}
.mgrn{background-color:#9bd3ae;color:#00160b;}
.bgrn{background-color:#046735;color:#9bd3ae;}
</style>

<h1 style="margin: 0;">Elemental Agents</h1>

<div><img src="759px-Artus_Wolffort_-_The_Four_Elements.jpg"></img></div>

<p>an examination of elemental relationships</>

<table style="margin:auto;">
<tr>
<td></td>
<td></td>
<td class="badge crimson">&#9794;</td>
<td></td>
<td></td>
</tr>
<tr>
<td class="badge green">&#9795;</td>
<td></td>
<td></td>
<td></td>
<td class="badge yellow">&#9796;</td>
</tr>
<tr>
<td></td>
<td class="badge black">&#9791;</td>
<td></td>
<td class="badge indigo">&#9792;</td>
<td></td>
</tr>
</table>

<h2>The Five Phases</h2>

<table style="width:100%;">
<tr class="yellow">
<td>&#22303; Earth</td>
<td>&#9737; Center</td>
<td>&#9796; Saturn</td>
</tr>
<tr class="indigo">
<td>&#37329; Metal</td>
<td>&#128772; West</td>
<td>&#9792; Venus</td>
</tr>
<tr class="black">
<td>&#27700; Water</td>
<td>&#128771; North</td>
<td>&#9791; Mercury</td> 
</tr>
<tr class="crimson">
<td>&#28779; Fire</td>
<td>&#128770; South</td>
<td>&#9794; Mars</td>
</tr>
<tr class="green">
<td>&#26408; Wood</td>
<td>&#128769; East</td>
<td>&#9795; Jupiter</td>
</tr>
</table>

<h2><em>Magic: The Gathering</em> Colors, Emoji, and Related Phases</h2>

<p><span class="badge green">Wood</span> is a phase of growth, which takes to 
the <span class="badge mgrn">Green</span> philosophy of growth and 
harmony.</p>

<p><span class="badge crimson">Fire</span> is a phase brimming with energy which 
aligns with the <span class="badge mred">Red</span> philosophy of freedom and 
action.</p>

<p><span class="badge yellow">Earth</span> is a phase of consolidatation which 
takes on <span class="badge mwht">White</span> philosophy of order and 
structure.</p>

<p><span class="badge indigo">Metal</span> is phase of cultivation and 
harvest which agrees with the <span class="badge mblu">Blue</span> 
philosophy of refinement and perfection.</p>

<p><span class="badge black">Water</span> is a phase of retreat, hiding, and 
hoarding; a selfish phase which agrees with the self-serving <span 
class="badge mblk">Black</span> philosophy.</p>

<table style="width:100%;">
<tr class="yellow">
<td style="width:25%;">&#127964; Plain</td> 
<td style="width:25%;" class="mwht">&#127774;
<span class="badge bwht">W</span>hite</td>
<td style="width:25%;background-color:cornsilk;">CornSilk</td>
<td>&#22303; Earth</td>
</tr>
<tr class="indigo">
<td>&#127965; Island</td>
<td style="background-color:#aae0fa;color:#061922;">&#128167;
bl<span class="badge bblu">U</span>e</td>
<td style="background-color:powderblue;">PowderBlue</td>
<td>&#37329; Metal</td>
</tr>
<tr class="black">
<td>&#128369; Swamp</td>
<td class="mblk">&#128128;
<span class="badge bblk">B</span>lack</td>
<td style="background-color:silver;">Silver</td>
<td>&#27700; Water</td>
</tr>
<tr class="crimson">
<td>&#9968; Mountain</td>
<td class="mred">&#128293;
<span class="badge bred">R</span>ed</td>
<td style="background-color:lightsalmon;">LightSalmon</td>
<td>&#28779; Fire</td>
</tr>
<tr class="green">
<td>&#127966; Forest</td> 
<td class="mgrn">&#127795;
<span class="badge bgrn">G</span>reen</td>
<td style="background-color:darkseagreen;">DarkSeaGreen</td>
<td>&#26408; Wood</td>
</tr>
</table>

<h2>Classical Elements, Card Suits, Compass Points, Elementals</h2>

<p>It's unclear whether the five phases correspond in any meaningful way 
with the classical elements. I've chosen the colors somewhat 
arbitrarily, but that is common practice.</p>

<table style="width:100%;">
<tr class="white"><td>Aether</td>
<td>&#9737; Center</td>
<td>&#127199; Wild</td>
<td>Spirit</td>
<td>&#9452; Dodecahedron</td></tr>
<tr class="indigo"><td>Water &#8210; Blue</td>
<td>&#128772; West</td>
<td>&#9825; &#9829; Cups</td>
<td>Undine</td>
<td>&#9460; Icosahedron</td></tr>
<tr class="green"><td>Earth &#8210; Green</td>
<td>&#128771; North</td>
<td>&#9826; &#9830; Pentacles</td>
<td>Gnome</td>
<td>&#10107; Cube &#127922;</td></tr>
<tr class="crimson"><td>Fire &#8210; Red</td>
<td>&#128770; South</td>
<td>&#9827; &#9831; Wands </td>
<td>Salamander</td>
<td>&#10105; Tetrahedron</td></tr>
<tr class="yellow"><td>Air &#8210; Yellow</td>
<td>&#128769; East</td>
<td>&#9824; &#9828; Swords &#9876;</td>
<td>Sylph</td>
<td>&#10109; Octahedron</td></tr>
</table>

<h2>Action Pad Constellations</h2>

<p>Linux information retrieved from kernel source code. Linux colors 
according to elemental compass. Note that Famicom/Gravis happen to 
mirror each other, as well as Dreamcast/Linux.</p>

<table style="text-align:center;">
<tr>
<th colspan="2" style="width:20%;">Famicom</th>
<th colspan="2" style="width:20%;">Gravis</th>
<th colspan="2" style="width:20%;">DualShock</th>
<th colspan="2" style="width:20%;">Dreamcast</th>
<th colspan="2" style="width:20%;">Linux</th></tr>
<tr>
<td colspan="2" class="indigo">X</td>
<td colspan="2" class="indigo">Blue</td>
<td colspan="2" style="background-color:#40E2A0;">&#9651; Triangle</td>
<td colspan="2" class="green">Y</td>
<td colspan="2" class="green">&#128771; North</td>
</tr>
<tr>
<td class="green">Y</td>
<td class="crimson">A</td>
<td class="crimson">Red</td>
<td class="green">Green</td>
<td style="background-color:#FF69F8;">&#9633; Square</td>
<td style="background-color:#FF6666;">&#9675; Circle</td>
<td class="yellow">X</td>
<td class="indigo">B</td>
<td class="indigo">&#128772; West</td>
<td class="yellow">&#128769; East</td>
</tr>
<tr>
<td colspan="2" class="yellow">B</td>
<td colspan="2" class="yellow">Yellow</td>
<td colspan="2" style="background-color:7CB2E8;">&#10060; Cross</td>
<td colspan="2" class="crimson">A</td>
<td colspan="2" class="crimson">&#128770; South</td>
</tr>
</table>

<hr>

<ul>
<li>
<a target="_blank" href="https://home.unicode.org/">Unicode - The World Standard for Text and Emoji</a>
</li><li>
<a target="_blank" href="https://unicode-table.com/">Unicode Character Table</a>
</li><li>
<a target="_blank" href="https://en.wikipedia.org/wiki/File:Artus_Wolffort_-_The_Four_Elements.jpg">Artus Wolffort - The Four Elements</a>
</li>
</ul>
