html {
  background-image: url(files/arcade_carpet_512.png);
  font-family: Tahoma, Verdana, sans-serif;
}

body {
  background-color: Black;
  border-radius: 1em;
  border: double SteelBlue;
  color: Silver;
  margin: 8px auto;
  max-width: 70em;
  padding: 1em;
}

/* Cabinet marquee/banner */
h1 {
  color: Black;
  font-size: 4em;
  text-align: center;
  text-transform: uppercase;
}

a[href^="http://"]::after, a[href^="https://"]::after {
  content: "🖇";
}

/* match links to background image */
a:link {
  color: RoyalBlue;
}

a:visited {
  color: MediumOrchid;
}

button.arcade {
  border-radius: 50%;
  height: 4em;
  margin: 1em;
  outline: solid 0.5em White;
  width: 4em;
}

button.red {
  background-color: Red;
  outline-color: Red;
}

button.yellow {
  background-color: Yellow;
  outline-color: Yellow;
}

button.blue {
  background-color: Blue;
  outline-color: Blue;
}

button.white {
  background-color: WhiteSmoke;
  outline-color: WhiteSmoke;
}

h1, hr {
  background-color: DarkGoldenRod;
}

hr {
  border: 0;
  height: 1px;
}

/* color list bullets like buttons */
ul li:nth-child(3n+1)::marker {
  color: Red;
}

ul li:nth-child(3n+2)::marker {
  color: Yellow;
}

ul li:nth-child(3n+3)::marker {
  color: Blue;
}

/* Nav links to look like coin slots */
footer {
  text-align: center;
}

footer a {
  border-color: DarkOrange;
  border-width: 3px 3px 3px 9px;
  border-style: solid solid solid double;
}

footer > a:link, footer > a:visited {
  background-color: Black;
  color: DarkOrange;
  display: inline-block;
  font-weight: bold;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* attribute the art used in this stylesheet */
footer::after {
  content: "background art \"Arcade Carpet Textures\" by Luckius is licensed CC0";
  display: block;
  font-weight: bold;
}
