<link rel="stylesheet" type="text/css" href="style.css">

<h1>Super DM <small>(working title)</small></h1>

<p>This is a quick introduction to a Boom mod meant to convey a 
different look & feel and diverge from the standard &quot;Doom 
clone&quot; stigma.</p>

<p>Super DM is meant to be a light-hearted, cartoonish world.</p>

<h2>Arsenal</h2>

<section>
<img width="80" height="32" src="ammoa0.png"></img>
<img width="32" height="32" src="clipa0.png"></img>

<h3>Fireballs</h3>

<p>You've brought your oven mitts because these projectiles are hot to 
handle!</p>

<div style="clear: both;"></div>
</section>

<section>
<img width="32" height="32" src="rocka0.png"></img>
<img width="64" height="60" src="broka0.png"></img>
<img width="124" height="32" src="launa0.png"></img>

<h3>Hand Cannon</h3>

<p>A compact and portable version of the standard deck cannon. The 
cannonballs are really grumpy so they will explode on contact.</p>

<div style="clear: both;"></div>
</section>

<section>
<img width="64" height="64" src="sht2a0.png"></img>
<img width="64" height="64" src="shota0.png"></img>

<h3>Throwing Hammer</h3>

<p>You've got one helluva throwing arm so hammers come in batches of a 
dozen or more so you can pummel nearby enemies.</p>

<div style="clear: both;"></div>
</section>

<h2>Objectives</h2>

<section>
<img width="64" height="64" src="bon1a0.png"></img>
<img width="64" height="64" src="bon2a0.png"></img>

<h3>Coins</h3>

<p>Delicious, precious metal. Take all you can find.</p>

<div style="clear: both;"></div>
</section>

<section>
<h3>Chests</h3>

<div style="clear: both;"></div>
</section>

<section>
<img width="64" height="64" src="lock.png"></img>

<h3>Locks</h3>

<p></p>

<div style="clear: both;"></div>
</section>

<section>
<h3>Exits</h3>

<div style="clear: both;"></div>
</section>

<h2>Try It</h2>

<p>Prototyping for Super DM has been ongoing with the 
following single-map PWAD. You're welcome to try it out while its in 
development.</p>

<ul>
<li><a href="SuperDM-alpha1.wad">Alpha 1</a></li>
<li><a href="superdm-alpha2.wad">Alpha 2</a></li>
</ul>

