html {
    background-image:url(floor4_6.png);
    font-family: Verdana, Geneva, sans-serif;
    margin: auto;
    max-width: 8.5in;
}

body {
    background-image:url(aqf025.png);
    border: outset 3px Grey;
    border-radius: 5px;
    padding: 1em
}

h1, h2, h3 {
    background-color: DimGrey;
    border: outset 2px Grey;
    border-radius: 5px;
    color: Black;
    padding: 5px;
    text-shadow: 1px 1px 0px Grey;
}

p, pre, table, ul {
    background-color: #000B00;
    border-radius: 3px;
    color: LimeGreen;
    margin: 1em;
    outline: inset Grey;
    padding: 3px;
}

ul {
    list-style-position: inside;
    list-style-type: square;
    padding-left: 1em;
}

li ul {
    margin: 0;
    outline: none;
}

pre {padding:5px;}
a {color:LimeGreen;}

img {
    display: inline-block;
    height: 150px;
    margin: 1em;
    outline: solid 2px Green;
    width: auto;
}
