/* CC0 1.0 Universal (CC0 1.0) Public Domain Dedication 

   To the extent possible under law, the person who associated CC0
   with this work has waived all copyright and related or neighboring
   rights to this work.

   <http://creativecommons.org/publicdomain/zero/1.0/>
*/

/* Brand colors
   LibreGaming Orange: #FF8F23 (for emphasis?)
   LibreGaming Blue: #4FBAD5 (for links?)
*/

.text-orange {
  color: #ff8f23;
}

.text-blue {
  color: #4fbad5;
}

html {  /* center HTML and reduce width */
  background-color: black;
  margin: auto;
  max-width: 60em;
}

body {  /* establish document colors and font */
  background-color: #1c1b22;  /* dark grey background */
  color: #dee2e6;  /* off white text */
  font-family: Roboto, Arial, sans-serif;
}

strong {
  color: #ff8f23;
}

/* fit images to document */

img {
  height: auto;
  max-width: 100%;
}

/* branded styling for links */

a {color: #4fbad5;}
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: underline;}
a:active {text-decoration: underline;}
