html {
  background-color: Gray;
}

body {
  background-color: #bebebe;
  border: 5px outset #e5e5e5;
  color: Black;
  font-family: "Lucida Console", "Courier New", monospace;
  margin: 1em auto 1em auto;
  max-width: 50em;
  outline: 1px solid Black;
  padding: 1em;
}

h1, h2 {
  background-color: #bebebe;
  color: #0000cd;
  font-style: italic;
  font-weight: normal;
  text-align: center;
}

h1:after {
  border-left: none; 
  border-top: 1px solid #4d4d4d;
  border-right: none;
  border-bottom: 1px solid #e5e5e5;
  color: #bebebe;
  content: "something";
  display: block;
  height: 2px;  
}

hr {
  border-left: none; 
  border-top: 1px solid #4d4d4d;
  border-right: none;
  border-bottom: 1px solid #e5e5e5;
  height: 2px;
}

li {
  border: 2px solid transparent;
  margin: 4px;
}

li a {
  background-color: #bebebe;
  border: 2px inset #e5e5e5;
  color: #000000;
  text-decoration: none;
}

p code, pre {
  background-color: #ffffff;
  border: 2px solid #708090;
  color: #000000;
}

footer a {
  background-color: #bebebe;
  border: none;
}
